#controls{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 2em;
	margin-right: 2em;
}

.addbtn{
	padding: .1em .3em .1em .3em;
}

.messages{
	position: absolute;
	top: 0;
	display: none;
	left: 40%;
}

.btn{
	border-radius: 20px;
}

body {
	margin: 0px;
}